* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  background-color: rgba(252, 248, 246, 1);
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.container-box {
  padding-bottom: 88px;
  padding-top: 88px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.box-content {
}
.content-title {
  padding-bottom: 32px;
  color: rgba(38, 15, 8, 1);
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
}

figure,
picture {
  margin: 0;
  padding: 0;
}

.box-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
  column-gap: 24px;
  list-style: none;
  padding-left: 0;
}
.item-list {
  list-style-type: none;
}

.item-btn {
  position: absolute;
  margin-left: 50px;
  margin-top: -28px;

  padding: 12px 28px;
  border-color: rgb(185, 152, 147);
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.item-btn:hover {
  border-color: rgba(199, 59, 15, 1);
  background-color: rgb(238, 211, 203);
}

.item-btn:hover .item-btn-text {
  color: rgba(199, 59, 15, 1);
}

.item-btn-text {
  text-align: center;
  display: inline-block;
}
.list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: rgba(135, 99, 90, 1);
  padding-top: 32px;
  padding-bottom: 4px;
}
.list-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 4px;
}
.title-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: rgba(199, 59, 15, 1);
}

.content-box {
  border-radius: 12px;
  padding: 24px;
  width: 100%;

  height: 300px;
  background-color: rgba(255, 255, 255, 1);
}
.box-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: rgba(199, 59, 15, 1);
  padding-bottom: 24px;
}
.box-image {
  display: block;
  width: 128px;
  margin: 0 auto;
}

.box-content {
  padding-top: 8px;
  padding-bottom: 8px;
}

.box-text {
  color: rgba(135, 99, 90, 1);

  text-align: center;
}

.dessert-btn-add {
  padding: 9px 12px;
  border: 2px solid rgba(199, 59, 15, 1);
  width: 100%;
  max-width: 160px;
  border-radius: 999px;
  background-color: rgba(199, 59, 15, 1);
  display: flex;
  justify-content: center;

  gap: 8px;
  position: absolute;
  margin-left: 49px;
  margin-top: -28px;
}
.btn-remove-amount {
  background-color: transparent;
  border: 0;
  margin-right: auto;
}
.amount {
  align-items: center;
  color: #ffffff;
}
.btn-add-amount {
  margin-left: auto;
  background-color: transparent;
  border: 0;
}

@media (max-width: 870px) {
  .container-box {
    flex-direction: column;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 450px) {
  .box-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-btn {
    margin-left: 100px;
  }
}
